---
import { Icon } from 'astro-icon/components';
import Button from '../../Button.astro';
import BlurText from '../../react/shared/BlurText.tsx';
import FadeContent from '../../react/shared/FadeContent.tsx';

const items = [
  {
    text: 'UX, front-end i back-end design',
    icon: 'fa6-solid:layer-group',
  },
  {
    text: 'Bleskové KO technických problémů',
    icon: 'fa6-solid:bolt',
  },
  {
    text: 'Rychlé doručení výsledků',
    icon: 'fa6-solid:rocket',
  },
];
---

<div class="relative min-h-screen w-full">
  <!-- Gradient pozadí -->
  <div class="bg-radial-gradient absolute left-0 top-0 z-0 h-[85vh] w-full"></div>

  <!-- Obsah -->
  <div class="relative z-10 flex min-h-[70vh] flex-col items-center justify-evenly">
    <!-- Horní část -->
    <div class="max-w-9xl justify-center space-y-6 px-3 pt-24 text-center text-white">
      <h1
        class="text-4xl font-extrabold leading-tight text-orange-500 md:text-5xl md:leading-normal lg:text-7xl"
      >
        <!-- Statický fallback pro SEO/crawlery -->
        <noscript> Návrh & vývoj funkčního webu </noscript>
        <!-- Animovaná verze -->
        <BlurText
          text="Návrh & vývoj funkčního webu"
          delay={100}
          initialDelay={0}
          animateBy="words"
          direction="top"
          animateOn="load"
          client:only="react"
        />
      </h1>

      <FadeContent
        blur={true}
        duration={800}
        delay={800}
        direction="top"
        className="mx-auto max-w-4xl pt-7"
        client:only="react"
      >
        <p class="text-lg font-semibold text-gray-200 lg:text-2xl">
          Stavím weby, které za vás pracují 24/7: prodávají vaše služby a zboží, informují o vašem
          podnikání a šetří vám nervy a čas.
        </p>
      </FadeContent>
    </div>

    <!-- Položky se ikonami v kartičkách -->
    <div class="hidden max-w-3xl md:grid grid-cols-1 md:grid-cols-3 gap-4 px-4">
      {
        items.map((item, index) => (
          <FadeContent
            blur={true}
            duration={800}
            delay={1200 + index * 200}
            direction="bottom"
            client:only="react"
          >
            <div
              class="flex min-h-[92px] items-center justify-center rounded-lg border border-white/10 bg-black/30 px-2 py-1 text-center shadow-lg backdrop-blur-sm hover:bg-black/30 sm:px-4 sm:py-2 md:min-h-[72px] lg:flex-1"
              style="background-image: linear-gradient(225deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 15%);"
            >
              <div class="flex flex-col items-center justify-center gap-2 pt-2 sm:flex-row">
                <Icon name={item.icon} size="32" class="h-8 w-8 text-white" />
                <span class="block text-balance text-sm font-semibold text-white sm:text-base">
                  {item.text}
                </span>
              </div>
            </div>
          </FadeContent>
        ))
      }
    </div>

    <!-- Tlačítka -->
    <FadeContent
      blur={true}
      duration={800}
      delay={1800}
      direction="bottom"
      className="mx-auto mt-20 md:mt-0"
      client:only="react"
    >
      <div class="flex flex-col items-center justify-center gap-8 md:flex-row">
        <Button text="Poptat nezávaznou konzultaci" href="#kontaktni-formular" variant="solid" />
        <Button text="Jak pracuji?" href="#jak-to-probiha" variant="ghost" />
      </div>
    </FadeContent>
  </div>

  <!-- Gradient layers na spodní části -->
  <div class="bottom-black-layer absolute bottom-0 left-0 z-10 h-[30vh] w-full"></div>
  <div class="gray-layer absolute bottom-0 left-0 z-10 h-[30vh] w-full"></div>
  <div class="black-layer absolute bottom-0 left-0 z-10 h-[30vh] w-full"></div>
</div>
